{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}
    <h1>Chat - {{ cat.name }}</h1>

    <ul>
        <li>Id : {{ cat.id }}</li>
        <li>Race : {{ cat.breed.name }}</li>
        <li>Date de naissance : {{ cat.birthdate|date('d/m/Y') }}</li>
    </ul>
{% endblock %}