<html>
    <head>
        <title>
            {% block title %}ChatShopping{% endblock %}
        </title>
    </head>
    <body>
        {{ include('navigation/menu.html.twig') }}
    
        {% block content %}{% endblock %}
    </body>
</html>