{% extends 'base.html.twig' %}

{% block content %}
        <h1>Accueil</h1>
        <h2>Liste des chats</h2>
        <ul>
            {% for cat in cats %}
                <li>
                    <a href="{{ path('product_detail', {
                        'productId': cat.id
                    }) }}">
                        {{ cat.name|upper }} ({{ cat.breed.name }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
{% endblock %}